.md {
    padding: 0;
}

.md * {
    font-family: sans;

    /* this prevents items from overflowing horizontally */
    max-width: 100%;
}

.md h1 {
}

.md h2 {
}

.md h3 {
}

.md p {
    margin: var(--margin-large) 0;
}

.md li p {
    display: inline-block;
}

.md blockquote {
    margin: var(--margin-xlarge) 0;
    padding: var(--padding-large);
    font-style: italic;

    color: var(--text-color-dimmed);
    background-color: var(--bg-color-dimmed);
}

.md blockquote > p {
    margin: 0;
}

.md table {
    display: block;
    margin: var(--margin-large);
    width: calc(100% - 2*var(--margin-large));
    border-collapse: collapse;
    overflow-x: scroll;
    /* shadow */
    box-shadow: var(--box-shadow-md);
}
.md table thead {
    font-weight: bold
}

.md table th {
    padding: var(--padding-small) var(--padding-small);
    border-bottom: var(--border-width-medium) solid var(--border-color-main);
}

.md table td {
    padding: var(--padding-medium) var(--padding-large);
    border-top: var(--border-width-small) solid var(--border-color-dimmed)
}

.md code {
    margin: var(--margin-xlarge) 0;
}

.md :global(.toc)::before {
    content: "Table of contents";
    font-size: var(--font-size-medium);
}

.md pre {
    margin: 0;
    padding: 0;
    position: relative;
}