h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: var(--font-size-largest);
    margin: var(--margin-large) 0;
    margin-top: var(--margin-xxlarge);
    border-bottom: 1px solid var(--border-color-dimmed);
}

h2 {
    font-size: var(--font-size-large);
    margin: var(--margin-large) 0;
    margin-top: var(--margin-xxlarge);
}

h3 {
    font-size: var(--font-size-medium);
    margin: var(--margin-large) 0;
    color: var(--text-color-dimmed);
    font-style: italic;
}