:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --padding-xlarge: 24px;
  --padding-large: 20px;
  --padding-medium: 14px;
  --padding-small: 8px;
  --padding-xsmall: 4px;
  
  --margin-small: 4px;
  --margin-medium: 8px;
  --margin-large: 16px;
  --margin-xlarge: 22px;
  --margin-xxlarge: 26px;

  --border-radius-medium: 4px;
  --border-color-main: darkgray;
  --border-color-dimmed: lightgray;
  --border-width-small: 1px;
  --border-width-medium: 2px;
  --border-width-large: 4px;

  --font-size-largest: 32px;
  --font-size-large: 24px;
  --font-size-medium: 18px;
  --font-size-small: 12px;

  --text-color-main: black;

  --text-color-dimmed: #232323;
  --bg-color-dimmed: lightgray;

  --box-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  --mobile-width: 768px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@import url(../styles/headings.css);
@import url(../styles/lists.css);
@import url(../styles/katex.css);