.body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0 var(--padding-xlarge);
}

/* wide screens */
@media only screen and (min-width: 768px) {
  .body {
    margin:auto;
    max-width: 768px;
  }
}

.main {
  margin-top: var(--margin-xxlarge);
}

.body > .header {
  padding: var(--padding-xlarge) 0;
}