.container {
  height: 100%;
  display: grid;
  grid-template-rows: 10% auto 10% auto 1fr;
  grid-template-areas:
    ". . ."
    "headline headline headline"
    ". . ."
    ". highlights ."
    "footer footer footer"
  ;
}

.headline {
  grid-area: headline;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--margin-small);
}

.headline > :global(.title) {
  font-size: var(--font-size-largest);
  font-weight: bold;
}

.headline > :global(.subtitle) {
  font-size: var(--font-size-large);
}

.headline > :global(.description) {
  margin-top: var(--margin-large);
}

.highlights {
  grid-area: highlights;
}