{{/*
    Ad hoc approach to override math support provided by the template.
    Practically, we override math.html, and use our own scripts.
    The main difference is the "delimiters" we pass to katex configuration to enable inlining.
*/}}
{{- if or .Params.math .Site.Params.math -}}
    <link rel="stylesheet" href="/css/katex.min.css">

    <script defer src="/js/katex.min.js"></script>

    <script>
        function katexRenderAllElements() {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "$", right: "$", display: false},
                    {left: "\\begin{align*}", right: "\\end{align*}", display: true}
                ]
            });
        }
    </script>

    <script defer src="/js/katex-auto-render.min.js" onload="katexRenderAllElements()"></script>
{{- end -}}
