@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
}

div#__next {
  height: 100%;
}

a {
  text-decoration: underline;
  @apply text-blue-800;
}

a:has(> *) {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

summary {
  cursor: pointer;
}

/* text inputs */

.text-input {
  @apply p-2;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* button */
.button {
  border: 1px solid black;
  cursor: pointer;
  transition: all 200ms;
  min-width: 120px;
  text-align: center;
  @apply p-2 pb-1 pt-1;
}

.button:hover {
  @apply bg-blue-100;
}

.button.selected {
  @apply bg-blue-200;
}

div.table-container {
  overflow-x: scroll;
}

/* katex */

span.katex-html {
  /* don't break equations */
  display: inline-block;
}

/* hints */

p.hint.tip::before {
  content: "";
  background-image: url('/icons/exclamation-mark.svg');
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  align-items: center;
  justify-content: center;
  display: inline-block;

  @apply mr-1;
  @apply bg-green-300;
  border-radius: 8px;
}

p.hint.warn::before {
  content: "";
  background-image: url('/icons/question-mark.svg');
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  align-items: center;
  justify-content: center;
  display: inline-block;

  @apply mr-1;
  @apply bg-yellow-300;
  border-radius: 8px;
}

p.hint.error::before {
  content: "";
  background-image: url('/icons/x-mark.svg');
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  align-items: center;
  justify-content: center;
  display: inline-block;

  @apply mr-1;
  @apply bg-red-300;
  border-radius: 8px;
}