@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  
  height: 100%;
}

div#__next {
  height: 100%;
}

a {
  text-decoration: underline;
  @apply text-blue-800;
}

a:has(> *) {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

summary {
  cursor: pointer;
}

/* text inputs */

.text-input {
  @apply p-2;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* button */
.button {
  border: 1px solid black;
}